.footer {
    width: 100%;
    background-color: #ccc;
}
.footer .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    display: block;
    max-width: 80px;
}
.footer-logo  img {
    display: block; 
    max-width: 100%;
}